<script setup>
import { format } from 'date-fns'
import SecondaryButton from '@/components/shared/SecondaryButton.vue'

defineProps({
	article: {
		type: Object,
		default: null
	}
})

const formatDate = (date) => format(new Date(date), 'dd.MM.yyyy')
</script>

<template>
	<router-link :to="`/blog/${ article.id }`" class="group relative flex flex-col overflow-hidden rounded-[15px]">
		<img class="absolute w-full h-full object-cover transition-transform duration-1000 ease-in-out group-hover:scale-[1.1]" :src="article.image?.url" :alt="article.image?.alternativeText">
		<div class="absolute inset-0 bg-gradient-to-t from-[#131210] to-transparent"></div>
		<div class="relative flex flex-col flex-1 justify-end text-white px-[20px] lg:px-[30px] py-5">
			<h4 v-if="article.isFeatured" class="uppercase font-bold tracking-[2.4px] leading-[19px]">Featured</h4>
			<div class="flex flex-col-reverse lg:flex-row justify-between mt-[14px] lg:mt-[26px] gap-[7px] lg:gap-[30px]">
				<h3 class="text-[20px] lg:text-[24px] leading-[24px] lg:leading-[29px] lg:max-w-[70%]">{{ article.title }}</h3>
				<span class="text-sm lg:text-normal">{{ formatDate(article.published_at) }}</span>
			</div>
			<div class="flex flex-col lg:flex-row justify-between gap-[30px] mt-[9px]">
				<p class="hidden lg:block">{{ article.shortDescription }}</p>
				<div>
					<SecondaryButton class="group-hover:bg-white group-hover:text-[#131210] transition duration-300 ease-in-out">Read</SecondaryButton>
				</div>
			</div>
		</div>
	</router-link>
</template>