<script setup>
const emits = defineEmits(['update:modelValue'])

const props = defineProps({
	value: {
		type: Boolean,
		default: false
	},
	name: String
})
</script>

<template>
	<input 
		type="checkbox"
		:value="value"
		:name="name"
		class=""
		@change="$emit('update:modelValue', $event.target.checked)"
	/>
</template>