<script setup>
defineProps({
	placeholder: String,
	type: {
		default: 'text',
		type: String
	},
	for: String,
	step: Number,
	modelValue: String,
	error: { type: Boolean, default: false }
})

const emit = defineEmits(['update:modelValue'])
</script>

<template>
	<input 
		:for="for"
		v-bind="$attrs"
		:type="type"
		:placeholder="placeholder"
		:value="modelValue"
		class="bg-occo-dark py-2.5 px-4 min-h-[40px] lg:min-h-[52px] text-white border rounded-full outline-none placeholder:text-sm lg:placeholder:text-base placeholder-[#868686] focus:ring-1"
		:class="error ? 'border-red-500 focus:ring-red-500' : 'border-[#AEAEAE] hover:border-white focus:border-white focus:ring-white'"
		@input="$emit('update:modelValue', $event.target.value)"
	/>
</template>