<script setup>
defineProps({
	href: String
})
</script>

<template>
	<router-link 
		:to="href"
		class="hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-r hover:from-violet hover:via-red-400 hover:to-orange group"
	>
		<slot />
		<div class="mt-2 h-[1px] w-full bg-white group-hover:bg-gradient-to-r hover:from-violet hover:via-red-400 hover:to-orange"></div>
	</router-link>
</template>