<script setup>
import { ref } from 'vue'

const emits = defineEmits(['finished'])
let timer = ref(60)

const updateCountdown = () => {
	if (timer.value > 0) return timer.value--
	if (timer.value == 0) {
		clearInterval(updateCountdown)
		emits('finished')
	}
}

setInterval(updateCountdown, 1000)
</script>

<template>
	<span class="bg-gradient-to-r from-violet via-red-400 to-orange bg-clip-text text-transparent">{{ timer }} seconds</span>
</template>