<script setup>
import TelephoneIcon from '@/components/svg/TelephoneIcon.vue'
import MailIcon from '@/components/svg/MailIcon.vue'
import PinIcon from '@/components/svg/PinIcon.vue'
import InstagramIcon from '@/components/svg/InstagramIcon.vue'
import LinkedInIcon from '@/components/svg/LinkedInIcon.vue'
import { useContentStore } from '@/stores/content.js'
import { storeToRefs } from 'pinia'

const { footer } = storeToRefs(useContentStore())
</script>

<template>
	<footer class="bg-occo-dark">
		<div class="max-w-[1140px] mx-auto px-[30px] lg:px-0">
			<div class="grid lg:grid-cols-footer gap-[40px] lg:gap-0 border-t border-[#AEAEAE] py-[50px] lg:pt-[56px] lg:pb-[88px]">
				<img class="max-w-[88px] lg:max-w-[131px] object-contain" src="@/assets/logo.png" alt="OCCO logo">
				<div class="grid lg:grid-cols-2 lg:max-w-[412px] lg:mx-auto gap-4 text-white text-sm lg:text-base">
					<div class="flex gap-2">
						<TelephoneIcon class="mt-1" />
						<a class="hover:underline" to="tel:+310618441788">{{ footer.phone }}</a>
					</div>
					<div class="flex gap-2 lg:justify-end">
						<MailIcon class="mt-1.5" />
						<a class="hover:underline" to="mailto:occo@occo.digital">{{ footer.email }}</a>
					</div>
					<div class="flex gap-2 lg:col-span-2">
						<PinIcon class="mt-1" />
						<div>
							<a class="hover:underline" :href="footer.office1GeoLink">{{ footer.office1 }}</a>
							/
							<a class="hover:underline" :href="footer.office2GeoLink">{{ footer.office2 }}</a>
						</div>
					</div>
				</div>
				<div class="flex items-center gap-2 lg:gap-2.5 lg:self-start lg:justify-end">
					<a :href="footer.instagram" target="_blank">
						<InstagramIcon />
					</a>
					<a :href="footer.linkedin" target="_blank">
						<LinkedInIcon />
					</a>
				</div>
			</div>
		</div>
	</footer>
</template>