<script setup>
import { ref } from 'vue'
import { TransitionRoot, TransitionChild, Dialog, DialogOverlay, DialogTitle } from '@headlessui/vue'
import HamburgerIcon from '@/components/svg/HamburgerIcon.vue'
import XIcon from '@/components/svg/XIcon.vue'

const isOpen = ref(false)

function closeModal() {
  isOpen.value = false
}
function openModal() {
  isOpen.value = true
}
</script>

<template>
	<button type="button" @click="openModal">
		<HamburgerIcon />
	</button>
	<TransitionRoot appear :show="isOpen" as="template">
		<Dialog as="div" @close="closeModal">
			<div class="fixed inset-0 z-10">
				<div class="min-h-screen max-w-[1440px] mx-auto flex items-start justify-end">
					<TransitionChild
						as="template"
						enter="duration-300 ease-out"
						enter-from="opacity-0"
						enter-to="opacity-100"
						leave="duration-200 ease-in"
						leave-from="opacity-100"
						leave-to="opacity-0"
					>
						<DialogOverlay class="fixed inset-0" />
					</TransitionChild>

					<span class="inline-block h-screen" aria-hidden="true">
						&#8203;
					</span>

					<TransitionChild
						as="template"
						enter="duration-300 ease-out"
						enter-from="opacity-0 scale-95"
						enter-to="opacity-100 scale-100"
						leave="duration-200 ease-in"
						leave-from="opacity-100 scale-100"
						leave-to="opacity-0 scale-95"
					>
						<div class="inline-block max-w-min p-[25px] mt-[43px] mr-[22px] text-right text-sm transition-all transform bg-space-gray-50 shadow-xl rounded-[15px]">
                            <button class="mb-4 outline-none" @click="closeModal">
                                <XIcon />
                            </button>
                            <div class="flex flex-col gap-4 text-right">
                                <router-link class="outline-none" to="/">Home</router-link>
                                <router-link class="outline-none" to="/blog">Blog</router-link>
                                <router-link class="outline-none" to="/contact">Contact</router-link>
                            </div>
						</div>
					</TransitionChild>
				</div>
			</div>
		</Dialog>
	</TransitionRoot>
</template>