<script setup>
import MenuLink from '@/components/shared/MenuLink.vue'
import HamburgerIcon from '@/components/svg/HamburgerIcon.vue'
import MobileNavigationModal from '@/components/shared/MobileNavigationModal.vue'
import { reactive, provide } from 'vue'

const props = defineProps({
	dark: {
		type: Boolean,
		default: false,
	}
})

const state = reactive({
	open: false
})

provide('dark', props.dark)
</script>

<template>
	<div 
		class="relative max-w-[1430px] w-full mx-auto flex items-center justify-between px-[30px]"
		:class="dark ? 'text-occo-dark' : 'text-white'"
	>
		<div class="flex items-center gap-[50px]">
			<router-link to="/">
				<img class="object-contain max-w-[87px] lg:max-w-[131px]" src="@/assets/logo.png" alt="OCCO logo">
			</router-link>
			<nav class="hidden lg:flex items-center gap-[30px]">
				<MenuLink href="/">Home</MenuLink>
				<MenuLink href="/blog">Blog</MenuLink>
				<MenuLink href="/#contact">Contact</MenuLink>
			</nav>
		</div>
		<div class="hidden lg:flex items-center gap-1 text-xs">
			<p>Already have an account?</p>
			<a href="https://architect.occo.digital/auth/login" target="_blank" class="text-red-500 hover:underline transition duration-300 ease-in-out">Log in</a>
		</div>
		<div class="lg:hidden">
			<MobileNavigationModal />
		</div>
	</div>
</template>