<script setup>
import { Listbox, ListboxButton, ListboxOptions, ListboxOption } from '@headlessui/vue'
import ChevronDown from '@/components/svg/ChevronDown.vue'
import LoadingSpinner from '@/components/svg/LoadingSpinner.vue'
import axios from 'axios'
import { ref } from 'vue'

defineProps({
	cca: String,
	phone: String,
	language: String,
	code: String,
	error: { type: Boolean, default: false }
})

const emits = defineEmits(['update:cca', 'update:phone', 'update:language', 'update:code'])

const countries = ref(null)
const selectedCountry = ref(null)
const loadCountries = async () => {
	try {
		const response = await axios.get('https://restcountries.com/v3.1/all')
		countries.value = response.data
		selectedCountry.value = response.data.find((country) => country.cca3 === 'EST')
	} catch (error) {
		console.log(error)
	}
}
loadCountries()
</script>

<template>
	<div 
		class="relative z-[1] bg-occo-dark py-2.5 px-4 min-h-[40px] lg:min-h-[52px] border rounded-full outline-none placeholder:text-sm lg:placeholder:text-base placeholder-[#868686] focus-within:ring-1"
		:class="error ? 'border-red-500 focus-within:ring-red-500' : 'border-[#AEAEAE] hover:border-white focus-within:border-white focus-within:ring-white'"
	>
		<template class="flex items-center gap-5 relative top-0.5">
			<Listbox v-if="countries && selectedCountry" v-model="selectedCountry">
				<ListboxButton class="flex items-center gap-2 outline-none">
					<div class="flex items-center gap-1 text-sm lg:text-base">
						<p>{{ selectedCountry.flag }}</p>
						{{ selectedCountry.idd.root ?? selectedCountry.cca3 }}{{ selectedCountry.idd.suffixes ? selectedCountry.idd.suffixes[0] : '' }}
					</div>
					<ChevronDown />
				</ListboxButton>
				<ListboxOptions class="absolute top-[30px] max-h-64 min-w-[100px] bg-occo-dark text-white rounded-lg border border-white border-opacity-30 overflow-auto shadow-2xl shadow-occo-dark">
					<ListboxOption
						as="template"
						v-slot="{ active, selected }"
						v-for="(country, index) in countries"
						:key="index"
						:value="country.cca2"
						@click="selectedCountry = country"
					>
						<li 
							class="flex items-center gap-2 px-4 py-0.5 cursor-pointer"
							:class="{
								'bg-white bg-opacity-10': active,
								'bg-gradient-to-r from-violet via-red-400 to-orange': selected
							}"
						>
							<img class="w-4" :src="country.flags.svg">
							{{ country.idd.root ?? country.cca3 }}{{ country.idd.suffixes ? country.idd.suffixes[0] : '' }}
						</li>
					</ListboxOption>
				</ListboxOptions>
			</Listbox>
			<div v-else class="min-w-[75.2px] flex justify-center">
				<LoadingSpinner class="w-6 h-6 animate-spin" />
			</div>
			<input 
				type="text"
				:value="phone"
				class="bg-transparent outline-none h-full w-full placeholder:text-sm lg:placeholder:text-base placeholder-[#868686]" 
				placeholder="321 2345" 
				@input="
					$emit('update:phone', $event.target.value), 
					$emit('update:cca', selectedCountry.cca2),
					$emit('update:language', selectedCountry.cca2),
					$emit('update:code', selectedCountry.idd.root + selectedCountry.idd.suffixes[0])
				"
			/>
		</template>
	</div>
</template>