<script setup>
import { computed } from 'vue'

const props = defineProps({
	href: String,
	disabled: { type: Boolean, default: false }
})

const element = computed(() => (props.href ? 'router-link' : 'button'))
</script>

<template>
	<component 
		:is="element"
		:to="href"
		:disabled="disabled"
		class="inline-flex items-center justify-center px-6 py-3 text-sm lg:text-base border-gradient-r-violet-red-orange-dark-button whitespace-nowrap border-transparent border-solid border-2 rounded-full text-white focus:outline-none"
		:class="disabled ? 'bg-occo-dark hover:bg-occo-dark opacity-80' : 'hover:bg-gradient-to-r from-violet via-red-400 to-orange'"
	>
		<slot />
	</component>
</template>