<script setup>
import { reactive, onMounted, onUnmounted, watch } from 'vue'
import { useRoute } from 'vue-router'

const state = reactive({
	progress: '0%'
})

const route = useRoute()

watch(() => route.path, newValue =>  newValue ?? updateProgressIndicator())

const updateProgressIndicator = () => {
	const { documentElement, body } = document
	let windowScroll = body.scrollTop || documentElement.scrollTop
	let height = documentElement.scrollHeight - documentElement.clientHeight
	state.progress = (windowScroll / height) * 100 + '%'
}

onMounted(() => {
	window.addEventListener('scroll', updateProgressIndicator)
})

onUnmounted(() => {
	window.removeEventListener('scroll', updateProgressIndicator)
})
</script>

<template>
	<div class="fixed top-0 w-full z-20 bg-transparent">
		<div :style="`width: ${ state.progress }`" class="h-[4px] bg-gradient-to-r from-red-400 via-orange to-violet"></div>
	</div>
</template>