<script setup>
import { TransitionRoot, TransitionChild, Dialog, DialogPanel, DialogOverlay } from '@headlessui/vue'
import PrimaryButton from '@/components/shared/PrimaryButton.vue'
import ModalCloseIcon from '@/components/svg/ModalCloseIcon.vue'
import BaseCheckbox from '@/components/shared/BaseCheckbox.vue'
import PhoneInput from '@/components/shared/PhoneInput.vue'
import BaseInput from '@/components/shared/BaseInput.vue'
import { required, email } from '@vuelidate/validators'
import { useContentStore } from '@/stores/content.js'
import useValidate from '@vuelidate/core'
import { storeToRefs } from 'pinia'
import { ref, reactive } from 'vue'
import axios from 'axios'

const content = useContentStore()
content.fetchContent()

const { registerModal } = storeToRefs(content)

const isOpen = ref(false)
const openModal = () => isOpen.value = true
const closeModal = () => isOpen.value = false

const form = reactive({
	company: '',
	email: '',
	phoneCode: '',
	phoneNumber: '',
	message: '',
	fullname: '',
	subscribe: false,
	termsAndConditions: false
})

const rules = {
	fullname: { required },
	email: { required, email },
	phoneCode: { required },
	phoneNumber: { required }
}

const v$ = useValidate(rules, form)

const submitRegistrationForm = async () => {
	const isFormCorrect = await v$.value.$validate()
	if (!isFormCorrect) {
		return
	}
	axios.post('https://cms.occo.digital/get-in-touches', form).then(response => {
		if (response.status === 200) {
			closeModal()
		}
	})
}
</script>

<template>
	<PrimaryButton @click="openModal">Get in touch</PrimaryButton>
	<TransitionRoot appear :show="isOpen" as="template">
		<Dialog as="div" class="relative z-10 overflow-x-hidden" @close="closeModal">
			<TransitionChild
				as="template"
				enter="duration-300 ease-out"
				enter-from="opacity-0"
				enter-to="opacity-100"
				leave="duration-200 ease-in"
				leave-from="opacity-100"
				leave-to="opacity-0"
			>
				<DialogOverlay class="fixed inset-0 bg-occo-dark bg-opacity-[85%]" />
			</TransitionChild>

			<span class="inline-block h-screen align-middle overflow-x-hidden" aria-hidden="true"> &#8203; </span>

			<div class="fixed inset-0 overflow-hidden">
				<div class="flex min-h-full items-center justify-center p-4 text-center">
					<TransitionChild
						as="template"
						enter="duration-300 ease-out"
						enter-from="opacity-0 scale-95"
						enter-to="opacity-100 scale-100"
						leave="duration-200 ease-in"
						leave-from="opacity-100 scale-100"
						leave-to="opacity-0 scale-95"
					>
						<DialogPanel class="relative max-w-[620px] w-full">
							<div class="absolute -inset-x-2 lg:-inset-x-10 -inset-y-2 lg:-inset-y-10 bg-gradient-to-r from-orange via-red-400 to-violet rounded-[1000px] blur-3xl opacity-50"></div>
							<div class="relative flex flex-col bg-occo-dark rounded-[25px] text-white text-center py-[25px] lg:py-[64px] px-5 lg:px-[120px]">
								<button class="absolute top-5 right-5 lg:top-[40px] lg:right-[40px] focus:outline-none" @click="closeModal">
									<ModalCloseIcon />
								</button>
								<h2 class="text-[20px] lg:text-[32px] leading-[39px] font-light mb-5 lg:mb-[30px]">Get in touch</h2>
								<p class="text-sm lg:text-base lg:leading-[19px] mb-5 lg:mb-[40px]">After receiving your message we will get back to you in 24h.</p>
								<form @submit.prevent="submitRegistrationForm">
									<div class="flex flex-col gap-[12px] lg:gap-5 mb-5 lg:mb-[30px]">
										<BaseInput v-model="v$.fullname.$model" placeholder="Full name" :error="v$.fullname.$error" @blur="v$.fullname.$reset()" />
										<BaseInput v-model="form.company" placeholder="Company / Studio name" />
										<BaseInput v-model="v$.email.$model" placeholder="E-mail aadress" :error="v$.email.$error" @blur="v$.email.$reset()" />
										<PhoneInput v-model:phone="v$.phoneNumber.$model" v-model:code="v$.phoneCode.$model" :error="v$.phoneNumber.$error" @blur="v$.phoneNumber.$reset()" />
										<BaseInput v-model="form.message" placeholder="Message" />
									</div>
									<div class="lg:ml-5 text-left lg:text-center space-y-2.5 lg:space-y-[17px] mb-5 lg:mb-[30px]">
										<label class="flex items-start gap-2.5 text-sm lg:text-base">
											<BaseCheckbox v-model="form.subscribe" class="relative mt-0.5 lg:mt-1.5" />
											Receive rare updates about the product
										</label>
										<label class="flex items-start gap-2.5 text-sm lg:text-base">
											<BaseCheckbox v-model="form.termsAndConditions" class="relative mt-0.5 lg:mt-1.5" />
											Accept our <router-link to="#" class="text-red-500 hover:underline transition duration-300 ease-in-out">terms and conditions</router-link>
										</label>
									</div>
									<PrimaryButton type="submit" class="w-full">Submit</PrimaryButton>
								</form>
							</div>
						</DialogPanel>
					</TransitionChild>
				</div>
			</div>
		</Dialog>
	</TransitionRoot>
</template>