<template>
	<button class="inline-flex items-center px-6 py-3 text-sm lg:text-base whitespace-nowrap border-2 border-solid border-white rounded-full text-white hover:bg-white hover:text-occo-dark">
		<slot />
	</button>
</template>