<script setup>
import { inject } from 'vue'

const dark = inject('dark')
</script>

<template>
	<svg width="18" height="13" viewBox="0 0 18 13" fill="none" xmlns="http://www.w3.org/2000/svg">
		<line x1="0.5" y1="0.5" x2="17.5" y2="0.5" :stroke="dark ? '#131210' : 'white'" stroke-linecap="round"/>
		<line x1="0.5" y1="6.5" x2="17.5" y2="6.5" :stroke="dark ? '#131210' : 'white'" stroke-linecap="round"/>
		<line x1="0.5" y1="12.5" x2="17.5" y2="12.5" :stroke="dark ? '#131210' : 'white'" stroke-linecap="round"/>
	</svg>
</template>