<template>
	<svg width="156" height="156" viewBox="0 0 156 156" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M78 148C116.66 148 148 116.66 148 78C148 39.3401 116.66 8 78 8C39.3401 8 8 39.3401 8 78C8 116.66 39.3401 148 78 148Z" stroke="url(#paint0_linear_1_3)" stroke-width="16" stroke-linecap="round"/>
	<defs>
	<linearGradient id="paint0_linear_1_3" x1="80" y1="0.5" x2="78" y2="159.5" gradientUnits="userSpaceOnUse">
	<stop stop-color="#BF4DD4"/>
	<stop offset="0.522068" stop-color="#E40038"/>
	<stop offset="1" stop-color="#EF6000"/>
	</linearGradient>
	</defs>
	</svg>
</template>