<template>
	<svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M15.5938 1H2.40625C1.63181 1 1 1.62142 1 2.38462V11.6154C1 12.376 1.629 13 2.40625 13H15.5938C16.3663 13 17 12.3807 17 11.6154V2.38462C17 1.624 16.371 1 15.5938 1ZM15.3996 1.92308L9.0298 8.1949L2.60497 1.92308H15.3996ZM1.9375 11.4242V2.57135L6.45247 6.9787L1.9375 11.4242ZM2.60041 12.0769L7.1182 7.6286L8.7013 9.1739C8.8845 9.3528 9.1802 9.3522 9.3627 9.1725L10.9062 7.6527L15.3996 12.0769H2.60041ZM16.0625 11.4242L11.5692 7L16.0625 2.57575V11.4242Z" fill="url(#paint0_linear_694_291)" stroke="url(#paint1_linear_694_291)" stroke-width="0.2"/>
		<defs>
			<linearGradient id="paint0_linear_694_291" x1="-2.47171" y1="-0.49994" x2="21.4615" y2="3.61506" gradientUnits="userSpaceOnUse">
				<stop stop-color="#D078DE"/>
				<stop offset="0.50324" stop-color="#FF0A40"/>
				<stop offset="1" stop-color="#FF8534"/>
			</linearGradient>
			<linearGradient id="paint1_linear_694_291" x1="-2.47171" y1="-0.49994" x2="21.4615" y2="3.61506" gradientUnits="userSpaceOnUse">
				<stop stop-color="#D078DE"/>
				<stop offset="0.50324" stop-color="#FF0A40"/>
				<stop offset="1" stop-color="#FF8534"/>
			</linearGradient>
		</defs>
	</svg>
</template>