<template>
	<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
		<line x1="1.41421" y1="1" x2="17" y2="16.5858" stroke="white" stroke-width="2" stroke-linecap="round"/>
		<line x1="1" y1="16.5858" x2="16.5858" y2="1" stroke="white" stroke-width="2" stroke-linecap="round"/>
	</svg>
</template>