<template>
	<svg width="15" height="19" viewBox="0 0 15 19" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M14 7.46316C14 8.6516 13.5974 9.9092 12.9615 11.1474C12.3272 12.3824 11.4759 13.5692 10.6151 14.6075C9.7554 15.6445 8.8943 16.5238 8.2476 17.1441C7.9422 17.437 7.6854 17.6715 7.5 17.8368C7.3146 17.6715 7.0578 17.437 6.7524 17.1441C6.1057 16.5238 5.24462 15.6445 4.38492 14.6075C3.52407 13.5692 2.67276 12.3824 2.03852 11.1474C1.40259 9.9092 1 8.6516 1 7.46316C1 3.89614 3.90766 1 7.5 1C11.0923 1 14 3.89614 14 7.46316Z" stroke="url(#paint0_linear_832_117)"/>
		<path d="M7.5 11C9.433 11 11 9.433 11 7.5C11 5.567 9.433 4 7.5 4C5.567 4 4 5.567 4 7.5C4 9.433 5.567 11 7.5 11Z" stroke="url(#paint1_linear_832_117)"/>
		<defs>
			<linearGradient id="paint0_linear_832_117" x1="-2.53774" y1="-1.74991" x2="18.8082" y2="0.39101" gradientUnits="userSpaceOnUse">
				<stop stop-color="#D078DE"/>
				<stop offset="0.50324" stop-color="#FF0A40"/>
				<stop offset="1" stop-color="#FF8534"/>
			</linearGradient>
			<linearGradient id="paint1_linear_832_117" x1="1.76415" y1="2.50004" x2="13.883" y2="4.0628" gradientUnits="userSpaceOnUse">
				<stop stop-color="#D078DE"/>
				<stop offset="0.50324" stop-color="#FF0A40"/>
				<stop offset="1" stop-color="#FF8534"/>
			</linearGradient>
		</defs>
	</svg>
</template>