<template>
	<svg width="30" height="25" viewBox="0 0 30 25" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M30 2.99517C28.8725 3.49589 27.6801 3.8269 26.46 3.9779C27.7473 3.19067 28.7119 1.95222 29.175 0.492285C27.9653 1.22943 26.6411 1.74879 25.26 2.0278C24.3368 1.00295 23.1075 0.320763 21.7647 0.0882177C20.422 -0.144328 19.0418 0.0859252 17.8407 0.742864C16.6396 1.3998 15.6854 2.44627 15.1279 3.71814C14.5703 4.99001 14.4409 6.41535 14.76 7.77061C12.3141 7.64397 9.92166 6.99203 7.73798 5.85715C5.5543 4.72226 3.62827 3.12982 2.085 1.18326C1.54371 2.1509 1.25928 3.24672 1.26 4.36177C1.25808 5.39729 1.50633 6.41723 1.98263 7.33078C2.45894 8.24433 3.14853 9.02314 3.99 9.59787C3.01197 9.57063 2.05483 9.30197 1.2 8.81475V8.89153C1.20733 10.3424 1.70399 11.7462 2.60597 12.8654C3.50795 13.9846 4.75988 14.7505 6.15 15.0336C5.61488 15.2003 5.05931 15.2882 4.5 15.2946C4.11284 15.29 3.72663 15.254 3.345 15.1871C3.74086 16.4352 4.50693 17.5259 5.53661 18.3075C6.56629 19.0891 7.80836 19.5227 9.09 19.548C6.9258 21.2912 4.25383 22.2426 1.5 22.2505C0.998603 22.2522 0.497603 22.2214 0 22.1583C2.81164 24.0167 6.08822 25.0032 9.435 24.999C11.7445 25.0236 14.0357 24.5768 16.1747 23.6848C18.3136 22.7927 20.2575 21.4733 21.8928 19.8036C23.5281 18.1339 24.8219 16.1474 25.6988 13.9601C26.5757 11.7728 27.0181 9.42854 27 7.06427C27 6.80323 27 6.52684 27 6.25045C28.177 5.35189 29.1922 4.25033 30 2.99517Z" fill="#131210"/>
	</svg>
</template>