<template>
	<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M28.35 0H1.65C1.21239 0 0.792709 0.173839 0.483274 0.483274C0.173839 0.792709 0 1.21239 0 1.65V28.35C0 28.5667 0.0426786 28.7812 0.125599 28.9814C0.208519 29.1816 0.330057 29.3635 0.483274 29.5167C0.636491 29.6699 0.818385 29.7915 1.01857 29.8744C1.21876 29.9573 1.43332 30 1.65 30H16.02V18.375H12.12V13.875H16.02V10.5C15.9392 9.70764 16.0328 8.90719 16.2941 8.15481C16.5554 7.40242 16.9781 6.71632 17.5327 6.14462C18.0872 5.57292 18.7602 5.12946 19.5042 4.84536C20.2483 4.56125 21.0455 4.44338 21.84 4.5C23.0075 4.49282 24.1744 4.55291 25.335 4.68V8.73H22.95C21.06 8.73 20.7 9.63 20.7 10.935V13.83H25.2L24.615 18.33H20.7V30H28.35C28.5667 30 28.7812 29.9573 28.9814 29.8744C29.1816 29.7915 29.3635 29.6699 29.5167 29.5167C29.6699 29.3635 29.7915 29.1816 29.8744 28.9814C29.9573 28.7812 30 28.5667 30 28.35V1.65C30 1.43332 29.9573 1.21876 29.8744 1.01857C29.7915 0.818385 29.6699 0.636491 29.5167 0.483274C29.3635 0.330057 29.1816 0.208519 28.9814 0.125599C28.7812 0.0426786 28.5667 0 28.35 0Z" fill="#131210"/>
	</svg>
</template>