<template>
	<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M14.469 10.5376C14.1198 10.1756 13.6986 9.9821 13.2521 9.9821C12.8093 9.9821 12.3845 10.172 12.0208 10.5341L10.8831 11.6631C10.7895 11.6129 10.6959 11.5663 10.6059 11.5197C10.4763 11.4552 10.3539 11.3943 10.2495 11.3297C9.1838 10.6559 8.2153 9.7778 7.2865 8.6416C6.83645 8.0753 6.53402 7.5986 6.31441 7.1147C6.60963 6.84588 6.88325 6.56631 7.1497 6.29749C7.2505 6.19713 7.3513 6.09319 7.4521 5.99283C8.2081 5.24014 8.2081 4.26523 7.4521 3.51254L6.46922 2.53405C6.35761 2.42294 6.2424 2.30824 6.13439 2.19355C5.91838 1.97133 5.69156 1.74194 5.45754 1.52688C5.10832 1.1828 4.69069 1 4.25145 1C3.81222 1 3.38739 1.1828 3.02736 1.52688C3.02376 1.53047 3.02376 1.53047 3.02016 1.53405L1.79607 2.76344C1.33524 3.22222 1.07242 3.78136 1.01481 4.43011C0.928413 5.4767 1.23803 6.45161 1.47565 7.0896C2.05889 8.6559 2.93016 10.1075 4.22985 11.6631C5.80677 13.5376 7.7041 15.0179 9.8715 16.0609C10.6995 16.4516 11.8048 16.914 13.0397 16.9928C13.1153 16.9964 13.1945 17 13.2665 17C14.0982 17 14.7966 16.7025 15.3439 16.1111C15.3475 16.1039 15.3547 16.1004 15.3583 16.0932C15.5455 15.8674 15.7615 15.6631 15.9883 15.4444C16.1431 15.2975 16.3015 15.1434 16.4564 14.9821C16.8128 14.6129 17 14.1828 17 13.7419C17 13.2975 16.8092 12.871 16.4456 12.5125L14.469 10.5376ZM15.7579 14.3118C15.7543 14.3118 15.7543 14.3154 15.7579 14.3118C15.6175 14.4624 15.4735 14.5986 15.3187 14.7491C15.0847 14.9713 14.847 15.2043 14.6238 15.466C14.2602 15.853 13.8318 16.0358 13.2701 16.0358C13.2161 16.0358 13.1585 16.0358 13.1045 16.0323C12.0352 15.9642 11.0416 15.5484 10.2963 15.1935C8.2586 14.2115 6.46922 12.8172 4.98231 11.0502C3.75462 9.5771 2.93376 8.2151 2.39012 6.75269C2.05529 5.86022 1.93288 5.16487 1.98689 4.50896C2.02289 4.08961 2.1849 3.74194 2.48372 3.44444L3.71141 2.22222C3.88783 2.05735 4.07504 1.96774 4.25866 1.96774C4.48547 1.96774 4.66909 2.10394 4.78429 2.21864C4.78789 2.22222 4.79149 2.22581 4.79509 2.22939C5.01471 2.43369 5.22353 2.64516 5.44314 2.87097C5.55475 2.98566 5.66996 3.10036 5.78517 3.21864L6.76804 4.19713C7.1497 4.57706 7.1497 4.92832 6.76804 5.30824C6.66363 5.41219 6.56283 5.51613 6.45842 5.61649C6.156 5.92473 5.86797 6.21147 5.55475 6.49104C5.54755 6.49821 5.54035 6.50179 5.53675 6.50896C5.22713 6.8172 5.28473 7.1183 5.34954 7.3226C5.35314 7.3333 5.35674 7.3441 5.36034 7.3548C5.61596 7.9713 5.97598 8.552 6.52322 9.2437L6.52682 9.2473C7.5205 10.466 8.5682 11.4158 9.7239 12.1434C9.8715 12.2366 10.0227 12.3118 10.1667 12.3835C10.2963 12.448 10.4187 12.509 10.5231 12.5735C10.5375 12.5806 10.5519 12.5914 10.5663 12.5986C10.6887 12.6595 10.8039 12.6882 10.9227 12.6882C11.2216 12.6882 11.4088 12.5018 11.47 12.4409L12.7013 11.2151C12.8237 11.0932 13.0181 10.9462 13.2449 10.9462C13.4681 10.9462 13.6518 11.086 13.7634 11.2079C13.767 11.2115 13.767 11.2115 13.7706 11.2151L15.7543 13.19C16.1251 13.5556 16.1251 13.9319 15.7579 14.3118Z" fill="url(#paint0_linear_694_292)" stroke="url(#paint1_linear_694_292)" stroke-width="0.3"/>
		<defs>
			<linearGradient id="paint0_linear_694_292" x1="-2.47171" y1="-0.99992" x2="21.766" y2="2.12559" gradientUnits="userSpaceOnUse">
				<stop stop-color="#D078DE"/>
				<stop offset="0.50324" stop-color="#FF0A40"/>
				<stop offset="1" stop-color="#FF8534"/>
			</linearGradient>
			<linearGradient id="paint1_linear_694_292" x1="-2.47171" y1="-0.99992" x2="21.766" y2="2.12559" gradientUnits="userSpaceOnUse">
				<stop stop-color="#D078DE"/>
				<stop offset="0.50324" stop-color="#FF0A40"/>
				<stop offset="1" stop-color="#FF8534"/>
			</linearGradient>
		</defs>
	</svg>
</template>