<template>
	<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
		<line x1="1.00195" y1="13.435" x2="13.7299" y2="0.707062" stroke="#131210" stroke-linecap="round"/>
		<line x1="13.7284" y1="13.435" x2="1.00052" y2="0.707077" stroke="#131210" stroke-linecap="round"/>
	</svg>
</template>