<script setup>
import { ref } from 'vue'
import PrimaryButton from '@/components/shared/PrimaryButton.vue'
import RegistrationModal from '@/components/shared/RegistrationModal.vue'

const modalOpenState = ref(false)

const personal = [
	{
		id: 1,
		image: '@/assets/ljuboff.png',
		name: 'Ljuboff',
		job_title: 'Chief Collaboration Officer',
		country: 'Netherland'
	},
	{
		id: 2,
		image: '@/assets/lela.png',
		name: 'Lela',
		job_title: 'Product Ambassador',
		country: 'Netherland'
	},
	{
		id: 3,
		image: '@/assets/marianne.png',
		name: 'Marianne',
		job_title: 'Product Ambassador',
		country: 'Estonia'
	},
	{
		id: 4,
		image: '@/assets/steven.png',
		name: 'Steven',
		job_title: 'Product Ambassador',
		country: 'Estonia'
	}
]
</script>

<template>
	<div id="contact" class="max-w-[1140px] mx-auto px-[30px] lg:px-0 text-white scroll-mt-12">
		<div class="grid lg:grid-cols-2">
			<div>
				<h2 class="font-light text-[20px] lg:text-[32px]">Contact us ─</h2>
				<h2 class="font-light text-[20px] lg:text-[32px]">
					<a class="hover:underline" href="mailto:request@occo.digital">request@occo.digital</a>
				</h2>
				<p class="mt-[24px] lg:mt-[35px]">Write to our product ambassadors team to book a demo of the platform or if you have any questions or suggestions.</p>
			</div>
			<div class="text-left mt-[25px] lg:mt-0 lg:text-right">
				<RegistrationModal />
			</div>
		</div>
		<div class="grid grid-cols-2 md:grid-cols-4 gap-[46px] lg:gap-[87px] mt-[30px] lg:mt-[45px] text-center">
			<div 
				v-for="(person, index) in personal" 
				:key="index" class="flex flex-col"
			>
				<img class="aspect-[2/3] rouned-full object-contain mb-2.5" :src="`./src/assets/${ person.name.toLowerCase() }.png`" :alt="person.name">
				<h4 class="text-[18px] lg:text-[24px] leading-[28px] lg:leading-[48px]">{{ person.name }}</h4>
				<div class="text-sm lg:text-base leading-[28px] lg:leading-[24px]">
					<p>{{ person.job_title }}</p>
					<p>{{ person.country }}</p>
				</div>
			</div>
		</div>
	</div>
</template>