<script setup>
import ColouredRouterLink from '@/components/shared/ColouredRouterLink.vue'
import PrimaryButton from '@/components/shared/PrimaryButton.vue'
import VerifyModal from '@/components/sections/VerifyModal.vue'
import useSignUpForm from '@/composables/useSignUpForm.js'
import BaseInput from '@/components/shared/BaseInput.vue'
import { useContentStore } from '@/stores/content'
import { storeToRefs } from 'pinia'
import { provide } from 'vue'

const { form, v$ } = useSignUpForm()
provide('form', form)

const { header } = storeToRefs(useContentStore())

const submitNewsletterForm = () => {
	console.log('Submitting...')
}
</script>

<template>
	<div class="max-w-[1430px] mx-auto px-[30px] grid lg:grid-cols-2 pt-[50px] lg:pt-[59px]">
		<div class="max-w-[561px] text-white pt-[64px]">
			<h1 class="text-[20px] lg:text-[32px] font-light leading-[24px] lg:leading-[39px] mb-[42px] lg:mb-[64px]">{{ header.title }}</h1>
			<div class="flex flex-col lg:flex-row items-start lg:items-center space-y-2.5 lg:space-y-0 lg:space-x-2">
				<BaseInput v-model="form.email" placeholder="Name@work-email.com" class="w-full" />
				<VerifyModal :button-text="header.ctaTitle" :disabled="v$.email.$invalid" />
			</div>
			<div class="relative flex space-x-1 mt-[50px] z-[10]">
				<p>or</p>
				<ColouredRouterLink href="/">
					{{ header.personalisedDemoText }}
				</ColouredRouterLink>
			</div>
		</div>
		<div class="relative">
			<div class="absolute -inset-x-5 -inset-y-10 lg:-inset-y-20 bg-gradient-to-r opacity-50 from-orange via-red-400 to-violet rounded-[1000px] blur-3xl"></div>
			<video :src="header.headerVideo?.url" class="relative aspect-video rounded-[5px] lg:rounded-[15px] mt-[50px] lg:mt-0" autoplay loop muted />
		</div>
	</div>
	<div class="max-w-[1140px] mx-auto flex flex-col lg:flex-row lg:space-x-[100px] px-[30px] mt-[75px] lg:px-0 text-white">
		<h3 class="mb-5 lg:mb-0 lg:whitespace-nowrap">{{ header.brandsPrefix }}</h3>
		<div class="grid grid-cols-3 lg:grid-cols-6 gap-y-4 gap-x-10 place-items-center w-full">
			<img 
				v-for="(brand, index) in header.brands" 
				:key="index"  
				:src="brand.url" 
				:alt="brand.name"
				class="object-contain"
			>
		</div>
	</div>
</template>