<script setup>
import { useBlogStore } from '@/stores/blog'
import { computed, onMounted } from 'vue'
import { storeToRefs } from 'pinia'
import AricleCard from '@/components/shared/ArticleCard.vue'
import PrimaryButton from '@/components/shared/PrimaryButton.vue'

const { blogs } = storeToRefs(useBlogStore())
</script>

<template>
	<div class="max-w-[1140px] mx-auto px-[30px] lg:px-0">
		<div class="grid lg:grid-cols-2 auto-rows-auto gap-[13px] lg:gap-[48px]">
			<h2 class="text-[20px] lg:text-[32px] text-white font-light">
				Our blog will keep you up to date with the latest developments
			</h2>
			<div class="lg:place-self-end self-start">
				<PrimaryButton href="/blog">See all</PrimaryButton>
			</div>
		</div>
		<div class="grid lg:grid-cols-2 grid-rows-2 gap-[48px] mt-[48px] w-full">
			<template
				v-for="(post, index) in blogs"
				:key="index"
			>
				<AricleCard
					v-if="post.isFeatured"
					:article="post"
					class="first:row-span-2 min-h-[202px] lg:min-h-[332px] first:min-h-[420px] lg:first:h-full"
				/>
				<AricleCard
					v-else
					:article="post"
					class="first:row-span-2 min-h-[202px] lg:min-h-[332px] first:min-h-[420px] lg:first:h-full"
				/>
			</template>
		</div>
	</div>
</template>