<script setup>
import { useContentStore } from '@/stores/content'
import { storeToRefs } from 'pinia'

const { mission } = storeToRefs(useContentStore())
</script>

<template>
	<div class="max-w-[1140px] mx-auto px-[30px] lg:px-0 text-white">
		<div class="flex flex-col lg:flex-row mb-[48px] lg:mb-[66px]">
			<h2 class="text-[20px] lg:text-[32px] font-light leading-[24px] lg:leading-[39px] w-3/4 mb-[29px] lg:max-w-[439px]">{{ mission.title }}</h2>
			<p class="text-sm lg:text-base leading-[17px] lg:max-w-[560px] lg:ml-auto">{{ mission.subTitle }}</p>
		</div>
		<div class="mission-grid lg:flex lg:justify-between gap-x-[17px] gap-y-[26px] lg:gap-y-0">
			<article 
				v-for="(card, index) in mission.bullets" 
				:key="index"
				class="col-span-2 flex flex-col items-center lg:max-w-[170px]"
				:class="`mission-${index + 1}`"
			>
				<img class="aspect-square w-[50px] mb-5" :src="card.icon?.url" :alt="card.icon.name">
				<p class="text-center text-sm leading-[17px]">{{ card.title }}</p>
			</article>
		</div>
		<div class="relative mt-[100px]">
			<div class="absolute -inset-x-5 -inset-y-20 bg-gradient-to-r from-orange via-red-400 to-violet opacity-50 rounded-[1000px] blur-3xl"></div>
			<video 
				:src="mission.video?.url" 
				autoplay 
				loop 
				muted 
				class="relative aspect-video rounded-[15px]"
			/>
		</div>
	</div>
</template>