<script setup>
import { useContentStore } from '@/stores/content'
import { storeToRefs } from 'pinia'
import { reactive } from 'vue'
import BaseInput from '@/components/shared/BaseInput.vue'
import PrimaryButton from '@/components/shared/PrimaryButton.vue'

defineProps({
	shadow: {
		type: Boolean,
		default: true
	}
})

const contentStore = useContentStore();
contentStore.fetchContent();

const { joinTheTop } = storeToRefs(contentStore)
const form = reactive({
	email: ''
})

const submitNewsletterForm = () => {
	console.log(form)
}
</script>

<template>
	<div class="relative max-w-[1140px] mx-auto px-[30px] lg:px-0">
		<div v-if="shadow" class="absolute -inset-x-5 -inset-y-10 bg-gradient-to-r from-orange via-red-400 to-violet rounded-[1000px] blur-3xl opacity-50"></div>
		<div class="relative grid lg:grid-cols-2 gap-y-[30px] lg:gap-y-0 bg-occo-dark rounded-[15px] px-[25px] lg:px-[50px] py-[50px] lg:py-[60px]">
			<h2 class="text-white font-light text-[20px] lg:text-[32px] lg:w-9/12">{{ joinTheTop.title }}</h2>
			<form @submit.prevent="submitNewsletterForm" class="flex flex-col lg:flex-row items-start lg:items-center gap-2.5 lg:gap-2">
				<BaseInput v-model="form.email" class="w-full" :placeholder="joinTheTop.inputPlaceholder" />
				<PrimaryButton>{{ joinTheTop.btnTitle }}</PrimaryButton>
			</form>
		</div>
	</div>
</template>