<script setup>
import ShareLinkedInIcon from '@/components/svg/ShareLinkedInIcon.vue'
import ShareFacebookIcon from '@/components/svg/ShareFacebookIcon.vue'
import ShareMessengerIcon from '@/components/svg/ShareMessengerIcon.vue'
import ShareTwitterIcon from '@/components/svg/ShareTwitterIcon.vue'
import ShareLinkIcon from '@/components/svg/ShareLinkIcon.vue'
</script>

<template>
	<div class="max-w-[700px] lg:mx-auto flex items-center gap-[28px] lg:gap-[19px] py-[30px] lg:py-[50px] mx-[30px] border-t-2 border-[#C7C7C7]">
		<h2 class="lg:text-[20px] leading-[22px] lg:leading-[28px] text-occo-dark">Share Article</h2>
		<div class="flex items-center gap-[10px] lg:gap-[15px]">
			<ShareLinkedInIcon class="w-5 lg:w-[30px]" />
			<ShareFacebookIcon class="w-5 lg:w-[30px]" />
			<ShareMessengerIcon class="w-5 lg:w-[30px]" />
			<ShareTwitterIcon class="w-5 lg:w-[30px]" />
			<ShareLinkIcon class="w-5 lg:w-[30px]" />
		</div>
	</div>
</template>