<script setup>
import ArticleCard from '@/components/shared/ArticleCard.vue'

const readSimilarArticle = {
	id: 1,
	published_at: '2022-04-18T04:56:18.250Z',
	isFeatured: false,
	shortDescription: 'As the pandemic changed our lifestyle, we need to also change our home style.',
	title: 'Design tips: Secret to a great home office space',
	image: {
		url: 'https://images.unsplash.com/photo-1553272725-086100aecf5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80',
		alternativeText: 'Some text here'
	}
}

const readLatestArticle = {
	id: 2,
	published_at: '2022-04-18T04:56:18.250Z',
	isFeatured: false,
	shortDescription: 'As the pandemic changed our lifestyle, we need to also change our home style.',
	title: 'Design tips: Secret to a great home office space',
	image: {
		url: 'https://images.unsplash.com/photo-1553272725-086100aecf5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80',
		alternativeText: 'Some text here'
	}
}
</script>

<template>
	<div class="bg-occo-dark text-white py-[100px]">
		<div class="max-w-[1140px] mx-auto px-[30px] lg:px-0">
			<div class="grid lg:grid-cols-2 gap-5 lg:gap-[48px]">
				<div>
					<h4 class="text-[20px] lg:text-[24px] leading-[24px] lg:leading-[29px] mb-[18px]">Read similar</h4>
					<ArticleCard class="min-h-[202px] lg:min-h-[355px]" :article="readSimilarArticle" />
				</div>
				<div>
					<h4 class="text-[20px] lg:text-[24px] leading-[24px] lg:leading-[29px] mb-[18px]">Read our latest article</h4>
					<ArticleCard class="min-h-[202px] lg:min-h-[355px]" :article="readLatestArticle" />
				</div>
			</div>
		</div>
	</div>
</template>