<script setup>
import PrimaryButton from '@/components/shared/PrimaryButton.vue'
import BaseInput from '@/components/shared/BaseInput.vue'
import { required, email } from '@vuelidate/validators'
import { useContentStore } from '@/stores/content'
import useValidate from '@vuelidate/core'
import { storeToRefs } from 'pinia'
import { reactive } from 'vue'
import axios from 'axios'

const content = useContentStore()
content.fetchContent()
const { subscribe } = storeToRefs(content)

const state = reactive({
	success: false
})

const form = reactive({
	email: ''
})

const rules = {
	email: { required, email }
}

const v$ = useValidate(rules, form)

const submitSubscription = async () => {
	const isFormValid = await v$.value.$validate()
	if (!isFormValid) {
		console.log('Form is not valid...')
		return
	}
	console.log('Submitting...', form)
	state.success = true
}
</script>

<template>
	<div class="max-w-[1140px] mx-auto px-[30px] lg:px-0 text-white">
		<div class="w-full grid lg:grid-cols-2 items-center lg:items-start px-[30px] lg:px-0 py-[50px] lg:py-[100px] border-t border-[#AEAEAE]">
			<h3 class="text-[20px] lg:text-[24px] leading-[24px] lg:leading-[29px] mb-[30px] lg:mb-0 font-light lg:mt-[10px]">{{ subscribe.title }}</h3>
			<div class="flex flex-col items-start lg:flex-row lg:gap-2 lg:items-start lg:justify-end">
				<div :class="state.success ? 'hidden' : 'flex'" class="flex flex-col w-full max-w-[338px] mb-2.5 lg:mb-0">
					<BaseInput 
						v-model="v$.email.$model" 
						class="w-full max-w-[338px] lg:mb-[15px]" 
						:placeholder="subscribe.inputPlaceholder" 
						:error="v$.email.$error" 
						@blur="v$.email.$reset()" 
					/>
					<label class="hidden lg:flex items-center gap-2.5 ml-[25px]">
						<input v-model="form.terms_conditions" type="checkbox" />
						Accept our <router-link to="/" class="text-red-500 hover:underline transition duration-300 ease-in-out">terms and conditions</router-link>
					</label>
				</div>
				<PrimaryButton 
					@click="submitSubscription" 
					class="mb-5 lg:mb-0" 
					:class="state.success ? 'w-full' : ''"
					:disabled="v$.email.$invalid || state.success"
				>
					{{ state.success ? 'Thank you for subscribing!' : subscribe.btnTitle }}
				</PrimaryButton>
				<label class="flex lg:hidden text-sm items-center gap-2.5">
					<input class="" type="checkbox" />
					<p class="space-x-1">Accept our <router-link to="/" class="text-red-500 hover:underline transition duration-300 ease-in-out">terms and conditions</router-link></p>
				</label>
			</div>
		</div>
	</div>
</template>