<script setup>
import { useContentStore } from '@/stores/content'
import { storeToRefs } from 'pinia'

const { team } = storeToRefs(useContentStore())
</script>

<template>
	<div class="max-w-[1140px] mx-auto px-[30px] lg:px-0">
		<div class="flex flex-col lg:flex-row gap-[30px] text-white">
			<h2 class="font-light text-[20px] lg:text-[32px] lg:max-w-[400px]">{{ team.title }}</h2>
			<p class="text-sm lg:text-base leading-[17px] lg:max-w-[560px] lg:ml-auto lg:mt-2">{{ team.subTitle }}</p>
		</div>
		<div class="mt-[44px] lg:mt-[80px]">
			<img class="aspect-video rounded-[15px]" :src="team.image?.url" :alt="team.image?.name">
		</div>
	</div>
</template>