<script setup>
import { useContentStore } from '@/stores/content'
import { storeToRefs } from 'pinia'

const { testimonials } = storeToRefs(useContentStore())
</script>

<template>
	<div class="max-w-[1140px] px-[30px] lg:px-0 mx-auto text-white">
		<h2 class="text-[20px] lg:text-[32px] font-light mb-[38px] lg:mb-[71px]">{{ testimonials.title }}</h2>
		<div class="grid lg:grid-cols-2 lg:gap-x-[136px] gap-y-[35px] lg:gap-y-[78px]">
			<article v-for="(item, index) in testimonials.testimonials" :key="index">
				<img 
					:src="item.logo?.url" 
					:alt="item.company"
					class="max-w-[160px] lg:max-w-[160px] mb-2.5 lg:mb-[19px]"
				>
				<p class="mb-[19px] text-sm lg:text-base">{{ item.testimonialText }}</p>
				<p class="text-sm lg:text-base">{{ item.name }}</p>
				<p class="text-sm lg:text-base">{{ item.company }}</p>
			</article>
		</div>
	</div>
</template>