<script setup>
import { TransitionRoot, Dialog, TransitionChild, DialogPanel } from '@headlessui/vue'
import CountdownTimer from '@/components/shared/CountdownTimer.vue'
import PrimaryButton from '@/components/shared/PrimaryButton.vue'
import BaseCheckbox from '@/components/shared/BaseCheckbox.vue'
import PhoneInput from '@/components/shared/PhoneInput.vue'
import useSignUpForm from '@/composables/useSignUpForm.js'
import BaseInput from '@/components/shared/BaseInput.vue'
import { useContentStore } from '@/stores/content.js'
import Spacer from '@/components/shared/Spacer.vue'
import { ref, reactive, inject } from 'vue'
import VOtpInput from 'vue3-otp-input'
import { useRouter } from 'vue-router'
import { storeToRefs } from 'pinia'

defineProps({
	buttonText: {
		type: String,
		default: 'Sign up'
	},
	disabled: { type: Boolean, default: false }
})

const form = inject('form')
const { submitFirstStep, submitSecondStep, reset, formStep, v$, responseStatus } = useSignUpForm()
const { registerModal } = storeToRefs(useContentStore())
const isOpen = ref(false)
const otpInput = ref(null)
const resendCode = ref(false)
const router = useRouter()

const state = reactive({
	activeInput: 0,
})

const openModal = () => isOpen.value = true
const closeModal = () => isOpen.value = false


const submitFirstWizard = (form) => {
	if (!form.name && !form.phoneNumber) return
	submitFirstStep(form)
	formStep.value = 2 
}

const resendCodeRequest = (form) => {
	submitFirstStep(form)
	resendCode.value = false
}

const resetFormData = (form) => {
	reset(form)
	console.log(v$.value)
	v$.value.$reset
	closeModal()
}

const handleOnComplete = (value) => {
	submitSecondStep(form, value)
	closeModal()
	router.push({ path: '/', hash: '#contact'})
}
</script>

<template>
	<PrimaryButton @click="openModal" :disabled="disabled">{{ buttonText }}</PrimaryButton>
	<TransitionRoot appear :show="isOpen" as="template" @keydown.esc="closeModal">
		<Dialog as="div" class="relative z-10">
			<TransitionChild
				as="template"
		        enter="duration-300 ease-out"
		        enter-from="opacity-0"
		        enter-to="opacity-100"
		        leave="duration-200 ease-in"
		        leave-from="opacity-100"
		        leave-to="opacity-0"
			>
				<div class="fixed inset-0 bg-occo-dark bg-opacity-95"></div>
			</TransitionChild>

			<div class="fixed inset-0 overflow-y-auto">
				<div class="flex min-h-full justify-center pt-[84px] text-center">
					<TransitionChild
						as="template"
			            enter="duration-300 ease-out"
			            enter-from="opacity-0 scale-95"
			            enter-to="opacity-100 scale-100"
			            leave="duration-200 ease-in"
			            leave-from="opacity-100 scale-100"
			            leave-to="opacity-0 scale-95"
					>
						<DialogPanel class="w-full max-w-[960px] transform overflow-hidden transition-all text-white">
							<template v-if="formStep === 1">
								<h1 class="lg:text-[32px] lg:leading-[39px] lg:mb-8 font-light">{{ registerModal.firstStepTitle }}</h1>
								<p class="leading-[24px] mb-[50px]">{{ registerModal.firstStepSubTitle }}</p>
								<div class="flex flex-col space-y-6 max-w-[380px] mx-auto">
									<BaseInput 
										v-model="form.name" 
										:placeholder="registerModal.nameInputHint" 
										class="w-full" tabindex="1" 
										:error="v$.name.$error" 
									/>
									<PhoneInput 
										v-model:cca="form.countryCode" 
										v-model:phone="form.phoneNumber" 
										v-model:language="form.languageCode" 
										v-model:code="form.phoneCode"
										:error="v$.phoneNumber.$error"
									/>
									<label>
										<BaseCheckbox v-model="form.subscribed" class="mr-2" />
										{{ registerModal.subscriptionText }}
									</label>
									<PrimaryButton @click="submitFirstWizard(form)">{{ registerModal.registerBtn }}</PrimaryButton>
									<button @click="resetFormData(form)">{{ registerModal.firstStepCancel }}</button>
								</div>
							</template>
							<template v-if="formStep === 2">
								<h1 class="lg:text-[32px] lg:leading-[39px] lg:mb-8 font-light">{{ registerModal.secondStepTitle }}</h1>
								<p class="leading-[24px] mb-[50px]">{{ registerModal.secondStepSubTitle }}</p>
								<form @submit="submitStepTwo" class="mb-[30px]">
									<div class="inline-flex">
										<v-otp-input 
											ref="otpInput"
											:num-inputs="6"
											separator=""
											input-classes="h-[40px] lg:h-[52px] w-[40px] lg:w-[52px] mx-2 text-center bg-occo-dark border outline-none rounded-full focus:ring-1 focus:ring-white"
											:should-auto-focus="true"
											@on-complete="handleOnComplete"
										/>
									</div>
								</form>
								<div v-if="!resendCode" class="py-4">
									Please check your phone for the code. Re-send available in <CountdownTimer @finished="resendCode = !resendCode" />
								</div>
								<div v-else>
									<button @click="resendCodeRequest(form)" class="underline">Re-send</button> code
								</div>
								<Spacer class="h-[100px]" />
								<button class="appearance-none" @click="formStep = 1">{{ registerModal.secondStepCancel }}</button>
							</template>
						</DialogPanel>
					</TransitionChild>
				</div>
			</div>
		</Dialog>
	</TransitionRoot>
</template>