<script setup>
import { useBlogStore } from '@/stores/blog.js'
import { storeToRefs } from 'pinia'
import { computed } from 'vue'
import ArticleCard from '@/components/shared/ArticleCard.vue'
import NewsletterSection from '@/components/sections/NewsletterSection.vue'
import SubscribeSection from '@/components/sections/SubscribeSection.vue'
import Spacer from '@/components/shared/Spacer.vue'

const blog = useBlogStore()
blog.fetchBlogPosts()

const { blogs } = storeToRefs(blog)
</script>

<template>
	<div class="max-w-[1140px] mx-auto px-[30px] lg:px-0 pt-[57px]">
		<h1 class="text-[32px] leading-[39px] text-white font-light mb-[48px] lg:w-1/2">Our blog will keep you up to date with the latest developments </h1>
		<div class="grid lg:grid-cols-2 gap-[48px]">
			<template v-for="(article, index) in blogs" :key="index">
				<ArticleCard 
					:article="article"
					class="first:row-span-2 min-h-[202px] lg:min-h-[355px] lg:first:h-full first:min-h-[420px]"
				/>
				<div v-if="index === 6" class="relative lg:col-span-2 my-[100px]">
					<NewsletterSection />
				</div>
			</template>
		</div>
	</div>
	<Spacer class="h-[50px] lg:h-[100px]" />
	<SubscribeSection />
</template>
