<script setup>
import NewsLetterSection from '@/components/sections/NewsLetterSection.vue'
import ShareArticleSection from '@/components/sections/ShareArticleSection.vue'
import SimilarArticlesSection from '@/components/sections/SimilarArticlesSection.vue'
import SubscribeSection from '@/components/sections/SubscribeSection.vue'
import Spacer from '@/components/shared/Spacer.vue'
import ClockIcon from '@/components/svg/ClockIcon.vue'
import Markdown from '@/composables/markdown.js'
import { useBlogStore } from '@/stores/blog.js'
import { useHead } from '@vueuse/head'
import { storeToRefs } from 'pinia'
import { computed, onUpdated } from 'vue'
import { useRoute } from 'vue-router'

const router = useRoute()
const blog = useBlogStore()

blog.fetchSinglePost(router.params.id)

const { post } = storeToRefs(blog)
onUpdated(() => {
	const images = document.querySelectorAll('.prose p > img')
	Array.from(images).forEach(image => {
		image.parentElement.style.maxWidth = '1140px'
		image.parentElement.style.marginLeft = 'auto'
		image.parentElement.style.marginRight = 'auto'
	})

	useHead({
		 title: computed(() => `OCCO | Digital Platform | ${post.value.title}`),
		 meta: [
			 {
				 name: 'description',
				 content: computed(() => post.value.shortDescription)
			 },
			 {
				 property: 'og:description',
				 content: computed(() => post.value.shortDescription)
			 },
			 {
				 property: 'twitter:description',
				 content: computed(() => post.value.shortDescription)
			 },
			 {
				 property: 'og:image',
				 content: computed(() => post.value.image.url)
			 },
			 {
				 property: 'twitter:image',
				 content: computed(() => post.value.image.url)
			 }
		 ]
	})
})
</script>

<template>
	<div>
		<Spacer class="h-[55px]" />
		<div class="max-w-[1140px] mx-auto px-[30px] lg:px-0">
			<div class="grid lg:grid-cols-2 gap-[30px] lg:gap-[58px]">
				<img class="object-cover lg:min-h-[440px] w-full rounded-[15px]" :src="post.image?.url" :alt="post.image?.name">
				<div class="place-self-center">
					<span>{{ blog.published_at }}</span>
					<h1 class="text-[20px] lg:text-[32px] leading-[24px] lg:leading-[39px] lg:font-light mt-[7px] lg:mt-[24px] mb-[11px] lg:mb-[30px]">{{ post.title }}</h1>
					<div class="flex items-center gap-2.5">
						<ClockIcon />
						<p class="text-occo-dark font-bold">{{ post.readingLength }}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="max-w-[1140px] mx-auto">
			<Markdown class="
				max-w-[1140px] 
				mx-auto 
				px-[30px] 
				lg:px-0 
				prose-h1:hidden
				prose-p:text-occo-dark
				prose-h4:text-occo-dark 
				prose-h4:max-w-[700px] 
				prose-h4:mx-auto
				prose-h4:text-[20px]
				lg:prose-h4:text-[24px] 
				prose-h4:font-normal 
				prose-h4:leading-[24px]
				lg:prose-h4:leading-[29px] 
				lg:prose-h4:pl-[30px]
				prose-h4:mb-[17px]
				lg:prose-h4:mb-[30px] 
				prose-h4:mt-[26px]
				lg:prose-h4:mt-[38px] 
				prose-p:max-w-[700px] 
				prose-p:mx-auto 
				prose-p:text-[16px]
				lg:prose-p:text-[20px]
				prose-p:leading-[22px]
				lg:prose-p:leading-[28px] 
				prose-blockquote:max-w-[500px]
				prose-blockquote:mx-auto
				prose-blockquote:border-l-2 
				prose-blockquote:border-l-occo-dark 
				prose-blockquote:text-5 
				prose-blockquote:leading-[28px] 
				prose-blockquote:px-[30px] 
				prose-blockquote:py-[17px] 
				prose-img:rounded-[15px]
				prose-img:mx-auto
				"
			>
				{{ post.content }}
			</Markdown>
		</div>
		<Spacer class="h-[100px]" />
		<ShareArticleSection />
		<Spacer class="h-[21px] lg:h-[50px]" />
		<NewsLetterSection :shadow="false" />
		<Spacer class="h-[100px]" />
		<SimilarArticlesSection />
		<div class="bg-occo-dark">
			<SubscribeSection />
		</div>
	</div>
</template>

<style>
.prose > p:has(img) {
	display: none;
}
</style>