<script setup>
import { useContentStore } from '@/stores/content'
import { useBlogStore } from '@/stores/blog'
import HeroSection from '@/components/sections/HeroSection.vue'
import TestimonialSection from '@/components/sections/TestimonialSection.vue'
import MissionSection from '@/components/sections/MissionSection.vue'
import NewsletterSection from '@/components/sections/NewsletterSection.vue'
import TeamSection from '@/components/sections/TeamSection.vue'
import LandingArticleSection from '@/components/sections/LandingArticleSection.vue'
import SubscribeSection from '@/components/sections/SubscribeSection.vue'
import ContactSection from '@/components/sections/ContactSection.vue'
import Spacer from '@/components/shared/Spacer.vue'

const contentStore = useContentStore()
const blogStore = useBlogStore()

contentStore.fetchContent()
blogStore.fetchBlogPosts()
</script>

<template>
	<HeroSection />
	<Spacer class="h-[100px]  lg:h-[270px]" />
	<MissionSection />
	<Spacer class="h-[100px] lg:h-[210px]" />
	<TestimonialSection />
	<Spacer class="h-[98px] lg:h-[237px]" />
	<NewsletterSection />
	<Spacer class="h-[100px] lg:h-[250px]" />
	<TeamSection />
	<Spacer class="h-[100px] lg:h-[200px]" />
	<LandingArticleSection />
	<Spacer class="h-[100px] lg:h-[200px]" />
	<ContactSection />
	<Spacer class="h-[90px] lg:h-[70px]" />
	<SubscribeSection />
</template>