<script setup>
import Spacer from '@/components/shared/Spacer.vue'
</script>

<template>
	<div class="text-occo-dark">
		<Spacer class="h-[50px]" />
		<div>
			<h1 class="text-[20px] leading-[24px] font-light mb-4">Terms & Conditions</h1>
			<ul>
				<router-link class="leading-[22px] underline" to="#">1. General terms</router-link>
				<router-link class="leading-[22px] underline" to="#">2. More terms</router-link>
				<router-link class="leading-[22px] underline" to="#">3. Something more</router-link>
				<router-link class="leading-[22px] underline" to="#">4. Other stuff</router-link>
			</ul>
		</div>
		<div class="mb-[30px]" id="general-terms">
			<h2 class="text-[20px] leading-[24px]">1. General terms</h2>
			<p class="leading-[22px]">Renowned Dutch architect Casper Schwarz is introducing a new concept that will make the office a pleasant place to drink a glass of wine after a working day or why not even for growing vegetables. In a longer interview, Schwartz talks about a bold idea born during the pandemic, hesitant attitudes, and cooperation with the Estonian designtech startup OCCO, which is conquering the world.</p>
		</div>
	</div>
</template>