<script setup>
import { useHead } from '@vueuse/head';
import { computed } from 'vue';

useHead({
  title: 'OCCO | Digital Platform',
  meta: [
    {
      name: 'title',
      content: 'OCCO | Digital Platform'
    },
    {
      name: 'keywords',
      content: 'interior design, digital tool, platform, OCCO, inspiration, Smart product search, Easy project creation & management, Product image recognition engine'
    },
    //OG / Facebook
    {
      property: 'og:type',
      content: 'website'
    },
    {
      property: 'og:url',
      content: computed(() => window.location.href)
    },
    {
      property: 'og:title',
      content: 'OCCO | Digital Platform'
    },
    {
      property: 'og:image',
      content: 'https://occo-digital-tool-cms-production.s3.eu-central-1.amazonaws.com/website_preview_image_10dc7a665b.png'
    },
    //OG / Twitter
    {
      property: 'twitter:card',
      content: 'summary_large_image'
    },
    {
      property: 'twitter:url',
      content: computed(() => window.location.href)
    },
    {
      property: 'twitter:title',
      content: 'OCCO | Digital Platform'
    },
    {
      property: 'twitter:image',
      content: 'https://occo-digital-tool-cms-production.s3.eu-central-1.amazonaws.com/website_preview_image_10dc7a665b.png'
    },
  ]
})
</script>
<template>
  <router-view class="overflow-hidden" />
</template>
