@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@supports not (aspect-ratio: 16 / 9) {
	.aspect-fallback-video {
		padding: 55.26%;
	}
}

@supports not (aspect-ratio:  1 / 1) {
	.aspect-fallback-square {
		padding: 100%;
	}
}

.mission-grid {
	display: grid;
	grid-template-areas: 
		'mission-first mission-first mission-second mission-second mission-third mission-third'
		'. mission-fourth mission-fourth mission-fifth mission-fifth .';
}

.mission-1 {
	grid-area: mission-first;
}

.mission-2 {
	grid-area: mission-second;
}

.mission-3 {
	grid-area: mission-third;
}

.mission-4 {
	grid-area: mission-fourth;
}

.mission-5 {
	grid-area: mission-fifth;
}