<script setup>
import Navigation from '@/components/shared/Navigation.vue'
import Footer from '@/components/shared/Footer.vue'
import ProgressIndicator from '@/components/shared/ProgressIndicator.vue'
</script>

<template>
	<div class="bg-space-gray-50 flex flex-col min-h-[100vh] font-sans antialiased">
		<ProgressIndicator />
		<Navigation class="pt-[60px] lg:pt-[100px]" dark />
		<div class="flex-1">
			<router-view />
		</div>
		<Footer />
	</div>
</template>